
<div class="container">
  <div class="question">
  <p><%= @question  %></p>
  <p><i>You</i></p>
</div>
<br>
<div class="answer">
  <p><%= @answer %></p>
  <p><i>Your coach answer</i></p>
</div>

<%= link_to  "Ask a new question", "http://localhost:3000/ask" %>
</div>
